<!DOCTYPE html>
<html>
  <head>
    <title>Make an ICE card</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Make an ICE card</h1>
    <p>Fill out as much as you want</p>
    <div class="card">
      <form action="" method="post">
        <%
          // YPACE
          var names = ["you",
              "primary",
              "alternative",
              "contingency",
              "emergency",
          ];
          for (var i=0; i<names.length; i++) {
        %>
          <h2><%- names[i][0].toUpperCase() + names[i].substr(1) %></h2>
          <input type="text" placeholder="Name" name="<%- names[i] %>-name" />
          <input type="email" placeholder="Email" name="<%- names[i] %>-email" />
          <input type="text" placeholder="Phone" name="<%- names[i] %>-phone" />
          <input type="text" placeholder="Address" name="<%- names[i] %>-address" />
        <% } %>
        <input type="submit" value="Done" />
      </form>
    </div>
  </body>
</html>
