<%#
 Needs:
  * card: a card object to view
  * canAddSecure: whether this card can still be secured
  * url: the url of the card (relative)
 Renders:
  * All the public information for that card
  * Links to secure or view private information
%>
<% var contacts = card.contacts %>
<% var you = contacts.you %>
<!DOCTYPE html>
<html>
  <head>
    <% title = you.name + "'s emergency info" %>
    <% include head.ejs %>
  </head>
  <body>
    <h1><%- you.name %>'s emergency info</h1>
    <div class="card">
      <%
        var names = ["you",
            "primary",
            "alternative",
            "contingency",
            "emergency",
        ];
        for (var i=0; i<names.length; i++) {
          let key = names[i];
      %>
        <h2><%- key[0].toUpperCase() + key.substr(1) %></h2>
        <%- include('entry.ejs', {entry: contacts[key]}) %>
      <% } %>
      <h2>Notes</h2>
      <p><%= card.notes %></p>
      <hr />
      <p>Stay safe. <a href="/">Make your own</a>.</p>
      <p>
        <% if (contacts.secure) { %>
          <a href="<%- url %>/private">This is my card; see my private info</a>.
        <% } else if (canAddSecure) { %>
          <a href="<%- url %>/make-secure">Secure my card</a>.
        <% } %>
      </p>
    </div>
  </body>
</html>

